:root {
    /* Text */
    --text-basic: #000;
    --text-secondary: #77767e;
    --text-headers: #4e4e53;
    --text-disabled: #b8b6bf;
    --text-brand: #6c11c9;
    --text-brand-1: #3a0078;
    --text-warning: #ff773c;
    --text-success: #067b00;
    --text-error: #f96666;
    --text-inverse: #fff;
    --text-link: #5067de;

    /* Background */
    --bg-base: #fff;
    --bg-base-1: #f7f7fa;
    --bg-plate: #f0f0f3;
    --bg-plate-1: #d1cfd7;
    --bg-error: #fee0e0;
    --bg-success: #def1dd;
    --bg-warning: #ffecc7;
    --bg-accent: #ff773c;
    --bg-accent-1: #c34100;
    --bg-brand: #6c11c9;
    --bg-brand-1: #460099;
    --bg-brand-2: #3a0078;
    --bg-tooltip: #4e4e53;
    --bg-counter: #f96666;
    --bg-light-blue: #e4eaff;
    --bg-light-purple: #ecdaff;

    /* Border */
    --border-basic: #d1cfd7;
    --border-focused: #5067de;
    --border-error: #f96666;
    --border-success: #067b00;
    --border-warning: #ff773c;
    --border-brand: #3a0078;

    /* Icon */
    --icon-basic: #4e4e53;
    --icon-secondary: #d1cfd7;
    --icon-brand: #3a0078;
    --icon-inverse: #fff;
    --icon-error: #f96666;
    --icon-success: #067b00;
    --icon-warning: #ff773c;

    /* Analytics */
    --analytics-blue: #5067de;
    --analytics-yellow: #dac400;
    --analytics-cyan: #5bcbcf;
    --analytics-pink: #f965cf;
    --analytics-paleblue: #5382b0;
}
